*, *::after, *::before{
  padding: 0;
  margin: 0;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.board{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background: rgb(247, 227, 162);
  display: flex;
  flex-direction: column;
}

.row{
  flex: 33.3%;
  display: flex;
  flex-direction: row;
}

.square{
  flex: 33.3%;
  height: 100%;
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 45px;
  color: black;
  cursor: pointer;
}

.square:active{
  background: rgb(218, 238, 231);
}